.aboutContainer {
  margin-left: 15%;
  margin-right: 15%;
}
.aboutButton {
  padding: 3px 10px;
  font-weight: 500;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
  background-color: #edf030;
  font-size: 1.5em;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.aboutButton:hover {
  transition: all 0.5s ease;
  color: white;
  background-color: rgb(101, 165, 165);
}
@media screen and (max-width: 800px) {
  .aboutButton {
    margin-top: 10%;
    margin-bottom: 15%;
  }
}
