.title {
  text-align: center;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-shadow: 0 0 0.2em #edf030;
  user-select: none;
  white-space: nowrap;
  filter: blur(0.007em);
  animation: shake 2.5s linear forwards;
  margin-bottom: 1%;
  margin-top: 2%;
}
